<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Dispositivos</title>
</head>
<body>
    <div class="container">
        <div class="lista">
            {% if dispositivos %}
                {% for dispositivo in dispositivos %}
                <div class="dispositivo">
                    <h2>{{ dispositivo.nome }} - {{ dispositivo.local }}</h2>
                </div>
                {% endfor %}
            {% else %}
                <p>Nenhum dispositivo cadastrado.</p>
            {% endif %}
        </div>

        <div class="spacer"></div>

        <div class="footer">
            <a href="adicionar_dispositivo" class="new-device">+ Dispositivo</a>
        </div>
    </div>
</body>
</html>